/* body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
  } */

  .package-list {
    list-style-type: none;
    padding: 0;
  }

  .package-item {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .package-item h2 {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .package-item p {
    margin: 5px 0;
  }

  .package-item button.delete-button {
    background-color: #e74c3c;
  }

  .package-item button.delete-button:hover {
    background-color: #c0392b;
  }