<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            /* background-image: url("background2.jpg"); */
            background-repeat: no-repeat;
            background-size: 100%;
        }

        h1 {
            text-align: center;
        }

        td {
            border: 1px solid black;
        }
    </style>

    <title>Log in</title>

</head>

<body>

    <div id="myDoctor">

    </div>


    <form action="/doctor/updateDoctor" method="get">
        <input name="Email" id="Email" placeholder="email">
        <input name="HourlyRate" id="HourlyRate" placeholder="hourlyRate">
        <input name="Affiliation" id="Affiliation" placeholder="affiliation">
        <button type="submit">Update</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Patient Name</th>
                <th>email</th>
                <th>Date of birth</th>
                <th>Gender</th>
                <th>Mobile</th>
                <th>emergency Name</th>
                <th>emergency Mobile</th>
                <th>family memeber</th>
            </tr>
        </thead>

        <tbody id="tBody">
        </tbody>
    </table>

    <div id="patientDetails">

    </div>



    <h1>List of Patients</h1>
    <input type="text" name="" id="nameSearch">
    <button type="button" onclick="showPatientsName()">Click me</button>
    <div id="patientsNames"></div>


    <h1>Upcoming Appointments</h1>
    <button type="button" onclick="filterAppointments()">Filter</button>
    <div id="upcomingAppointments"></div>

    <h1>Filter Appointment by date/status</h1>
    <input type="date" name="" id="startDate">
    <input type="date" name="" id="endDate">
    <select name="" id="status">
        <option value="upcoming">upcoming</option>
        <option value="completed">completed</option>
        <option value="cancelled">cancelled</option>
        <option value="rescheduled">rescheduled</option>
        <option value=""></option>
    </select>
    <button type="button" onclick="filterDateAppointments()">Filter</button>
    <div id="filterDateAppointments"></div>


    <script>
        // async function updateDoctor() {
        //     let myBody = {
        //         email: document.getElementById('email').value,
        //         hourlyRate: document.getElementById('hourlyRate').value,
        //         affiliation: document.getElementById('affiliation').value
        //     }

        //     console.log(JSON.stringify(myBody))
        //     console.log(myBody.hourlyRate)
        //     console.log(myBody.affiliation)
        //     var response = await fetch('http://localhost:8000/doctor/updateDoctor', {
        //         method: 'PUT', // Use the appropriate HTTP method (e.g., POST, PUT, or PATCH)
        //         body: JSON.stringify(myBody), // Convert the data to a JSON string and include it as the body
        //     });
        //     if (!res.success)
        //         return alert(res.message);
        //     var res = await response.json();

        //     if (!res.success)
        //         return alert(res.message);
        //     console.log(res)
        // }


        async function filterDateAppointments() {
            let myBody = {
                startDate: document.getElementById('startDate').value,
                endDate: document.getElementById('endDate').value,
                status: document.getElementById('status').value
            }


            let response = await fetch(`http://localhost:8000/doctor/getAppointment`, {
                method: 'POST', // Use the appropriate HTTP method (e.g., POST, PUT, or PATCH)
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(myBody), // Convert the data to a JSON string and include it as the body
            });


            let res = await response.json();


            let cartoona = ''
            for (let i = 0; i < res.length; i++) {
                cartoona += `
                    <ul>
                <li>Name: ${res[i].Name}
                </li>
                <li><strong>Date:</strong>
                    ${res[i].Date}
                </li>
                <li><strong>Status:</strong>
                    ${res[i].Status}
                </li>
        </ul>`
            }

            var element = document.getElementById('filterDateAppointments')
            element.innerHTML = cartoona
        }

        getCurrentDoctor()
        async function getCurrentDoctor() {
            var response = await fetch('http://localhost:8000/doctor/getCurrentDoctor');
            var res = await response.json();

            if (!res.success)
                return alert(res.message);

            var element = document.getElementById('myDoctor');
            var list = res.Result;

            var cartoona = `<h1>My info:</h1> <p> ${res.Result.Name} </p>`;
            cartoona += `<p> ${res.Result.Email} </p>`;
            cartoona += `<p> ${res.Result.DateOfBirth} </p>`;
            cartoona += `<p> ${res.Result.HourlyRate} </p>`;
            cartoona += `<p> ${res.Result.Affiliation} </p>`;
            cartoona += `<p> ${res.Result.Education} </p>`;
            cartoona += `<p> ${res.Result.Speciality} </p>`;
            cartoona += `<p> ${res.Result.Username} </p>`;

            element.innerHTML = cartoona;
        }

        async function getPatients() {
            var response = await fetch('http://localhost:8000/doctor/getPatientsList');
            var res = await response.json();


            var element = document.getElementById('tBody');
            var cartoona = '';

            if (!res.success)
                return alert(res.message);

            res.Result.forEach(function (patient) {
                cartoona += `
            <tr>
                <td>${patient.Name}</td>
                <td>${patient.Email}</td>
                <td>${patient.DateOfBirth}</td>
                <td>${patient.Gender}</td>
                <td>${patient.Mobile}</td>
                <td>${patient.EmergencyName}</td>
                <td>${patient.EmergencyMobile}</td>
                <td>${patient.familyMember}</td>
                <td><button onclick="showPatient('${patient._id}')">Show patient</button></td>
                <td><button onclick="getPatientInfoAndHealth('${patient._id}')">Show Patient Info AndHealth</button></td>
            </tr>`;
            });

            element.innerHTML = cartoona;
        }

        getPatients();

        async function showPatient(id) {
            try {
                // Remove the colon from the URL placeholder
                var response = await fetch(`http://localhost:8000/doctor/selectPatientName/${id}`);
                var res = await response.json();

                var list = res.Result
                console.log(list[0])



                if (!res.success)
                    return alert(res.message);

                var element = document.getElementById('patientDetails')

                var cartoona = `${list[0].Name}   ${list[0].Email}     ${list[0].DateOfBirth}
                ${list[0].Gender}     ${list[0].Mobile}     ${list[0].EmergencyName}
                        ${list[0].EmergencyMobile}     ${list[0].familyMember}`

                element.innerHTML = cartoona
            } catch (error) {
                console.error('Error fetching patient data:', error);
            }
        }

        async function getPatientInfoAndHealth(id) {
            try {
                var response = await fetch(`http://localhost:8000/doctor/getPatientInfoAndHealth/${id}`);
                var res = await response.json();

                if (!res.success)
                    return alert(res.message);

                var list = res.Result

                console.log(list.patient)

                var element = document.getElementById('patientDetails')

                var cartoona = `${list.patient.Name}   ${list.patient.Email}     ${list.patient.DateOfBirth}
                ${list.patient.Gender}     ${list.patient.Mobile}     ${list.patient.EmergencyName}
                        ${list.patient.EmergencyMobile}     ${list.patient.familyMember}`

                for (let i = 0; i < list.healthDoc.length; i++) {                    
                    cartoona += `<p><a href="data:'application/pdf';base64,
                    ${list.healthDoc[i]} "download="your-filename.pdf">Download Health Doc${i+1}</a></p>`
                }

                element.innerHTML = cartoona
            } catch (error) {
                console.error('Error fetching patient data:', error);
            }
        }


        async function showPatientsName() {
            try {
                let name = document.getElementById('nameSearch').value

                // Remove the colon from the URL placeholder
                var response = await fetch(`http://localhost:8000/doctor/getPatientName/${name}`);
                var res = await response.json();


                if (!res.success)
                    return alert(res.message);

                var list = res.Result
                console.log(list)
                var cartoona = ''
                for (let i = 0; i < list.length; i++) {
                    cartoona += `
                    <ul>
                <li>Name: ${list[i].Name}
                </li>
                <li><strong>Email:</strong>
                    ${list[i].Email}
                </li>
                <li><strong>Date of Birth:</strong>
                    ${list[i].DateOfBirth}
                </li>
                <li><strong>Gender:</strong>
                    ${list[i].Gender}
                </li>
                <li><strong>Mobile:</strong>
                    ${list[i].Mobile}
                </li>
                <li><strong>Emergency Contact Name:</strong>
                    ${list[i].EmergencyName}
                </li>
                <li><strong>Emergency Contact Mobile:</strong>
                    ${list[i].EmergencyMobile}
                </li>
                <li><strong>Username:</strong>
                    ${list[i].Username}
                </li>
                <li>
                    <strong>Family Member:</strong>
                    ${list[i].familyMember}
                </li>
        </ul>`
                }

                var element = document.getElementById('patientsNames')
                element.innerHTML = cartoona
            }
            catch (error) {
                console.error('Error fetching patient data:', error);
            }
        }

        async function filterAppointments() {
            try {
                var response = await fetch(`http://localhost:8000/doctor/getUpcomingAppointment`);


                var res = await response.json();


                if (!res.success)
                    return alert(res.message);

                var list = res.Result
                console.log(list)
                var cartoona = ''
                for (let i = 0; i < list.length; i++) {
                    cartoona += `
                    <ul>
                <li>Name: ${list[i].Name}
                </li>
                <li><strong>Email:</strong>
                    ${list[i].Email}
                </li>
                <li><strong>Date of Birth:</strong>
                    ${list[i].DateOfBirth}
                </li>
                <li><strong>Gender:</strong>
                    ${list[i].Gender}
                </li>
                <li><strong>Mobile:</strong>
                    ${list[i].Mobile}
                </li>
                <li><strong>Emergency Contact Name:</strong>
                    ${list[i].EmergencyName}
                </li>
                <li><strong>Emergency Contact Mobile:</strong>
                    ${list[i].EmergencyMobile}
                </li>
                <li><strong>Username:</strong>
                    ${list[i].Username}
                </li>
                <li>
                    <strong>Family Member:</strong>
                    ${list[i].familyMember}
                </li>
                <li>
                    <strong>Appointment Date:</strong>
                    ${list[i].appointmentDate}
                </li>
                                
        </ul>`
                }

                document.getElementById('upcomingAppointments').innerHTML = cartoona
            }
            catch (error) {
                console.error('Error fetching patient data:', error);
            }
        }
    </script>
</body>

</html>