<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            /* background-image: url("background2.jpg"); */
            background-repeat: no-repeat;
            background-size: 100%;
            }
        h1 {
            text-align: center;
        }
        .cont {
            position:relative;
            left:600px;
            top:50px;
           
        }
    </style>
   
    <title>Log in</title>
   
</head>
<body>
    <div class="container">
        <h1>Log in</h1>
    </div>
    <div class="cont">
        <!-- <form method='post' action='/register'> -->
            Username: <br>
            <input type="text" id="user" name="username"> <br>
            Password: <br>
            <input type="password" id="password" name="password"> <br> <br>
            <br>
            <input type="submit" id="simple_click" class="btn btn-secondary" value="Login"> <br><br>
            Don't have an account?<br>
            <a href="register/patient">Register as a Patient</a><br>
            <a href="register/doctor">Register as a Doctor</a>

        </form>
    </div>
</body>

</html>