<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            background-repeat: no-repeat;
            background-size: 100%;
        }

        h1 {
            text-align: center;
        }

        td {
            border: 1px solid black;
        }
    </style>

    <title>Log in</title>

</head>

<body>

    <div id="myPatient">

    </div>


    <button type="button" onclick="getDoctorInfo()">ViewAllDoctors</button>
    <div id="ViewAllDoctors"></div>

    
    <button type="button" onclick="viewPrescriptions()">MyPrescriptions</button>
    <div id="viewPrescriptions"></div>

    <button type="button" onclick="viewRegFamMem()">MyFamilyMembers</button>
    <div id="MyFamilyMembers"></div>

    <h1>Filter Appointment by date/status</h1>
    <input type="date" name="" id="startDate">
    <input type="date" name="" id="endDate">
    <select name="" id="status">
        <option value="upcoming">upcoming</option>
        <option value="completed">completed</option>
        <option value="cancelled">cancelled</option>
        <option value="rescheduled">rescheduled</option>
        <option value=""></option>
    </select>
    <button type="button" onclick="filterDateAppointments()">Filter</button>
    <div id="filterDateAppointments"></div>

   


    


    <script>

async function filterDateAppointments() {
            let myBody = {
                startDate: document.getElementById('startDate').value,
                endDate: document.getElementById('endDate').value,
                status: document.getElementById('status').value
            }


            let response = await fetch(`http://localhost:8000/Patient/getAppointment`, {
                method: 'POST', // Use the appropriate HTTP method (e.g., POST, PUT, or PATCH)
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(myBody), // Convert the data to a JSON string and include it as the body
            });
            
            let res = await response.json();


            let cartoona = ''
            for (let i = 0; i < res.length; i++) {
                cartoona += `
                    <ul>
                <li>Name: ${res[i].Name}
                </li>
                <li><strong>Date:</strong>
                    ${res[i].Date}
                </li>
                <li><strong>Status:</strong>
                    ${res[i].Status}
                </li>
        </ul>`
            }

            var element = document.getElementById('filterDateAppointments')
            element.innerHTML = cartoona
        }


async function viewRegFamMem() {
            try {
                var response = await fetch(`http://localhost:8000/patient/viewRegFamMem`);


                var res = await response.json();


                if (!res.success)
                    return alert(res.message);

                var list = res.Result
                console.log(list)
                var cartoona = ''
                for (let i = 0; i < list.length; i++) {
                    cartoona += `
                    <ul>
                   
                <li><strong>Name:</strong>
                    ${list[i].Name}
                </li>
                <li><strong>Age:</strong>
                    ${list[i].Age}
                </li>
                <li><strong>NationalId:</strong>
                    ${list[i].NationalId}
                </li>
                <li><strong>Gender:</strong>
                    ${list[i].Gender}
                </li>
                <li><strong>Relation:</strong>
                    ${list[i].Relation}
                </li>
                <li><strong>FamilyMemId:</strong>
                    ${list[i].FamilyMemId}
                </li>
               
                
                                
        </ul>`
                }

                document.getElementById('MyFamilyMembers').innerHTML = cartoona
            }
            catch (error) {
                console.error('Error fetching family members data:', error);
            }
        }

       
       async function viewPrescriptions() {
            try {
                var response = await fetch(`http://localhost:8000/patient/viewPrescriptions`);


                var res = await response.json();


                if (!res.success)
                    return alert(res.message);

                var list = res.Result
                console.log(list)
                var cartoona = ''
                for (let i = 0; i < list.length; i++) {
                    cartoona += `
                    <ul>
                   
                <li><strong>DoctorId:</strong>
                    ${list[i].DoctorId}
                </li>
                <li><strong>Status:</strong>
                    ${list[i].status}
                </li>
                <li><strong>Date:</strong>
                    ${list[i].Date}
                </li>
               
                
                                
        </ul>`
                }

                document.getElementById('viewPrescriptions').innerHTML = cartoona
            }
            catch (error) {
                console.error('Error fetching prescriptions data:', error);
            }
        }

       
        async function getDoctorInfo() {
            try {
                var response = await fetch(`http://localhost:8000/patient/getDoctorInfo`);


                var res = await response.json();
                console.log(res)

                if (!res.success)
                    return alert(res.message);

                var list = res.final
                console.log(list)
                var cartoona = ''
                for (let i = 0; i < list.length; i++) {
                    console.log(list[i].Name)

                    cartoona += `
                    <ul>
                        <li><strong>Doctor's Name</strong>
                    ${list[i].Name}
                </li>
                <li><strong>Doctor's Affiliation</strong>
                    ${list[i].Affiliation}
                </li>
                <li><strong>Doctor's Education</strong>
                    ${list[i].Education}
                </li>
                <li><strong>Doctor's Email</strong>
                    ${list[i].Email}
                </li>
                <li><strong>Doctor's Speciality</strong>
                    ${list[i].Speciality}
                </li><li><strong>Doctor's sessionPrice</strong>
                    ${list[i].sessionPrice}      
        </ul>`
                }

                document.getElementById('ViewAllDoctors').innerHTML = cartoona
            }
            catch (error) {
                console.error('Error fetching doctors data:', error);
            }
        }



       
    </script>
</body>

</html>
